.serchInput{
    width: 300px;
    height: 35px;
    
}
.serch{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.table{
    justify-content: center;
    display: flex;
}
.table-data{
    border: 1px solid white;
    border-collapse: collapse;
    margin-top: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: white;
    
}
.head:hover{
    background-color: crimson;
}
th{
    border: 1px solid black;
    padding: 10px;
    background-color:rgb(90, 17, 81);
    color: white;
    font-size: 20px;
    
}
td{
    padding: 20px;
    border-bottom: 1px solid;
    font-size: 15px;
}
tr:hover{
    background-color:rgb(90, 17, 81);
    color: white;
}
.loader{
    position: fixed;
    top:50%;
    left:50%;
    width:40px
}
.error{
    text-align: center;
    display: flex;
    justify-content: center;
}

