.cart{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
   
    
    
}
.cart-item {
    display: flex;
    background-color: #1ed248;
    padding: 10px;
}
img{
    width: 100px;
    height: 100px;
}
